/* ========================= ШРИФТИ =============================== */

/*------------------- Підключення шрифтів ------------------------- */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn:regular,600,500italic&display=swap");
/* Підключення вручну */

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Inter", sans-serif;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER================================================================ */

.header {
	padding: 50px 0;
	text-align: center;
	background:
	radial-gradient(circle, rgba(205,237,246,0.9) 0%, rgba(94,177,191,0.9) 80%, rgba(4,42,43,0.7707457983193278) 100%),
		url("../img/pattern.jpg") 0 0 / 400px;
	box-shadow: 0px 10px 20px #383636;
	color: #042a2b;
}
.header__title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 60px;
	margin: 0px 0px 10px 0px;

}
.header__subtitle {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
}

.header__list li{
	display: inline-block;
	margin: 0px 100px 0px 0px;
}
.header__list li::before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #042a2b;
	margin: 0px 10px 3px 0px;
}
.header__list li::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #042a2b;
	margin: 0px 0px 3px 10px;
}
.header__list li:last-child{
	margin: 0;
}
.header__link {
	font-size: 25px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .3s;
}
.header__link:hover{
	border-bottom: 2px solid #000;
}

/* ================================================================ */

.practice,
.game {
	padding: 75px 0 100px;
}
.practice__container{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}
.practice__title,
.game__title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	margin: 0px 0px 30px 0px;
}
.practice__text {
	font-family: 'Vollkorn', sans-serif;
	margin: 0px 0px 20px 0px;
	text-align: justify;
	line-height: 1.2;
	font-size: 18px;
}
.practice__text p:nth-child(3),
.practice__text p:nth-child(5) {
	font-style: italic;
	font-weight: 500;
	padding-left: 20px;
}

.practice__text p:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.practice__text mark {
	background-color: transparent;
	font-weight: 600;
	text-decoration: underline;
}
.practice__block {
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto 15px;
	box-shadow: 0px 5px 10px #383636;
}
.practice__row {
	background: #5eb1bf;
	padding: 20px;
	display: block;
	font-size: 0;
}
.practice__link,
.practice__link-hide {
	width: 50%;
	font-size: 20px;
}
.practice__link-hide {
	text-align: right;
}
.practice__link::before {
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 10px -8px 0px;
	background: url("../img/add-circle.svg");
}
.practice__link-hide::after {
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px 0px -8px 10px;
	background: url("../img/minus-cirlce.svg");
}

.practice__content {
	display: none;
	background-color: #cdedf6;
	padding: 20px;
	/* border-top: 1px solid #000; */
	border-top: 5px double #000;
	text-align: center;
}
.practice__content:target {
	display: block;
}

[class^="block-01__item-0"]:not(:last-child) {
	margin: 0px 50px 10px 0px;
	vertical-align: middle;
}
.block-01__item-01 {
	display: inline-block;
	background-color: #2c4251;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	padding: 12px 20px;
	border: 1px solid transparent;
}
.block-01__item-01:hover {
	border: 1px solid #2c4251;
	background-color: #fff;
	color: #2c4251;
	box-shadow: 1px 3px 5px #2c4251;
}
.block-01__item-02 {
	padding: 12px 30px;
	background-color: rgba(37, 105, 104, 1);
	color: #fff;
	border-radius: 10px;
	font-weight: 600;
	border: 1px solid transparent;
}
.block-01__item-02:hover {
	background: radial-gradient(
		circle,
		rgba(11, 133, 123, 0.497) 0%,
		rgba(37, 163, 153, 1) 51%,
		rgba(37, 105, 104, 1) 100%
	);
	border: 1px solid #2c4251;
}
.block-01__item-03 {
	max-width: 200px;
	margin: 0 auto;
	vertical-align: middle;
}
.block-01__item-03:hover {
	box-shadow: 5px 5px 5px #2c4251;
}

[class^="block-02__item-0"]:not(:last-child) {
	margin: 0px 50px 15px 0px;
	vertical-align: middle;
}
.block-02__item-01 {
	display: inline-block;
	background-color: #2c4251;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	padding: 12px 20px;
	border: 1px solid transparent;
}
.block-02__item-01:active {
	border: 1px solid #2c4251;
	background-color: #fff;
	color: #2c4251;
	box-shadow: 1px 3px 5px #2c4251;
}
.block-02__item-02 {
	padding: 12px 20px;
	font-weight: 600;
	border: 1px solid #2c4251;
	border-radius: 10px;
}
.block-02__item-02:hover {
	box-shadow: 1px 3px 5px #2c4251;
}
.block-02__item-02:active {
	background-color: #2c4251;
	color: #fff;
}
.block-02__item-03 {
	max-width: 200px;
	vertical-align: middle;
	border-radius: 40px;
}
.block-02__item-03:active {
	border-radius: 30px;
	box-shadow: 1px 3px 5px #2c4251;
}

[class^="block-03__item-0"]:not(:last-child) {
	margin: 0px 50px 20px 0px;
}
.block-03__item-01,
.block-03__item-02 {
	display: inline-block;
	background-color: #2c4251;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	padding: 12px 20px;
}
.block-03__item-01:visited {
	color: #b3afaf;
	background-color: rgb(56, 86, 106);
}
.practice__text {
	text-align: left;
}

.practice__link mark {
	background-color: transparent;
	border: 1px solid #000;
}
.block-04__item {
	display: inline-block;
	background-color: #2c4251;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	padding: 12px 20px;
	border: 5px solid transparent;
}
.block-04__item:not(:last-child) {
	margin: 0px 30px 0px 0px;
}
.block-04__item:hover {
	border: 5px solid transparent;
	background-color: #fff;
	color: #2c4251;
	box-shadow: 1px 3px 5px #2c4251;
}
.block-04__item:focus {
	border: 5px solid #fff;
}

/* GAME================================================================ */

.game__block {
	border: 1px solid #042a2b;
	border-radius: 10px;
	box-shadow:
		inset -3px -3px 10px #042a2b,
		inset 3px 3px 10px #042a2b;
	padding: 20px;
	background: #eefbff url('../img/gift-solid.svg') 98.4% 49.5% / 24px no-repeat;
}
[class^="game__item-"] {
	background-color: #5eb1bf;
	visibility: hidden;
}
.game__item_start {
	background-color: #5eb1bf;
	margin: 0 auto;
	height: 90px;
	width: 20px;
	margin-bottom: -40px;
}
.game__item_start::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 5px 0px 0px 3px;
	background: url("../img/arrow-pointer-solid.svg") no-repeat;
}
.game__item-02 {
	width: 50.85%;
	height: 40px;
	margin-bottom: -40px;
}
.game__item-03 {
	height: 100px;
	width: 15px;
	margin-bottom: -40px;
}
.game__item-04 {
	width: 100%;
	height: 50px;
	margin-bottom: -50px;
}
.game__item-05 {
	height: 140px;
	width: 40px;
	margin-left: auto;
	margin-bottom: -40px;
}
.game__item-06 {
	width: 51.5%;
	height: 40px;
	margin-left: auto;
	margin-bottom: -40px;
}
.game__item-07 {
	width: 40px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: -40px;
}
.game__item-08 {
	height: 40px;
	width: 25.6%;
	margin-left: 26%;
	margin-bottom: -40px;
}
.game__item-09 {
	margin-left: 26%;
	height: 110px;
	width: 15px;
	margin-bottom: -50px;
}
.game__item-10 {
	margin-left: 26%;
	width: 74%;
	height: 50px;
	margin-bottom: -50px;
}
.game__item-11 {
	margin-left: auto;
	height: 120px;
	width: 25px;
	margin-bottom: -30px;
}
.game__item-11::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 60px 0px 0px 0px;
	background: url("../img/gift-solid.svg") no-repeat;
}

[class^="game__item-"]:hover + [class^="game__item-"],
[class^="game__item-"]:hover{
	visibility: visible;
}

.game__item_start:hover + .game__item-02,
.game__item-02:hover {
	visibility: visible;
}
/* .game__item-02:hover + .game__item-03,
.game__item-03:hover {
	visibility: visible;
}
.game__item-03:hover + .game__item-04,
.game__item-04:hover {
	visibility: visible;
}
.game__item-04:hover + .game__item-05,
.game__item-05:hover {
	visibility: visible;
}
.game__item-05:hover + .game__item-06,
.game__item-06:hover {
	visibility: visible;
}
.game__item-06:hover + .game__item-07,
.game__item-07:hover {
	visibility: visible;
}
.game__item-07:hover + .game__item-08,
.game__item-08:hover {
	visibility: visible;
}
.game__item-08:hover + .game__item-09,
.game__item-09:hover {
	visibility: visible;
}
.game__item-09:hover + .game__item-10,
.game__item-10:hover {
	visibility: visible;
}
.game__item-10:hover + .game__item-11,
.game__item-11:hover {
	visibility: visible;
} */

.game__image {
	width: 100%;
	height: 400px;
	visibility: hidden;
	background: url("../img/photo.jpg") center / cover no-repeat;
}
.game__item-11:hover + .game__image,
.game__image:hover {
	visibility: visible;
}

/* ================================================================ */

.consulting,
.business-plan {
	padding: 75px 0;
	color: #7d7d7d;
	font-size: 18px;
}
.consulting__container {
	max-width: 712px;
	padding: 0 10px;
	margin: 0 auto;
}
.consulting-content {
	margin: 0px 0px 40px 0px;
}
.consulting-content__block:not(:last-child) {
	margin: 0px 0px 42px 0px;
}
.consulting-content__title,
.consulting-content__subtitle,
.consulting-benefits__title,
.consulting-benefits__subtitle {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.27;
}
.consulting-content__title {
	color: #37393f;
	font-size: 30px;
	text-transform: capitalize;
	margin: 0px 0px 10px 0px;
}
.consulting-content__text p {
	text-align: justify;
	line-height: 1.46;
	margin: 0px 0px 15px 0px;
}
.consulting-content__text p:last-child {
	margin: 0px 0px 0px 0px;
}
.consulting-content__subtitle {
	color: #6b77e5;
	font-size: 20px;
	margin: 0px 0px 12px 0px;
}

.consulting-benefits {
	font-size: 0;
	text-align: center;
}
.consulting-benefits__column:first-child {
	margin: 0px 30px 0px 0px;
}
.consulting-benefits__column {
	vertical-align: top;
	display: inline-block;
	max-width: 331px;
	text-align: left;
}
.consulting-benefits__column img {
	width: 100%;
}

.consulting-benefits__column_mr {
}
.consulting-benefits__title {
	font-size: 25px;
	color: #37393f;
	margin: 0px 0px 15px 0px;
}
.consulting-benefits__subtitle {
	color: #40ddb6;
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}
.consulting-benefits__list {
}
.consulting-benefits__list li {
	font-size: 18px;
	line-height: 1.22;
}
.consulting-benefits__list li:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.consulting-benefits__list li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 28px;
	margin: 0px 8px 0px 0px;
	background: url("../img/consulting/mark.svg");
}

/* ================================================================ */

.business-plan__container {
	max-width: 695px;
	padding: 0 10px;
	margin: 0 auto;
}
.title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-transform: capitalize;
}
.subtitle {
	color: #37393f;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.22;
	margin: 0px 0px 16px 0px;
}
.subtitle::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	margin: 5px 6px 0px 0px;
}

.business-plan__title {
	margin: 0px 0px 10px 0px;
	max-width: 415px;
}
.business-plan__text {
	margin: 0px 0px 48px 0px;
}
.business-plan__text p {
	font-size: 18px;
	line-height: 1.46;
}
.business-plan__text p:not(:last-child) {
	margin: 0px 0px 25px 0px;
}
.business-plan__list {
	margin: 0px 0px 48px 0px;
}
.business-list li {
	border: 1px solid #e3e3e3;
	padding: 28px 41px 28px 38px;
	transition: all .3s;
}
.business-list li:hover{
	border: 1px solid #a1a1a1;
	box-shadow: inset 0 0 3px #a1a1a1;

}
.business-list li:not(:last-child) {
	margin: 0px 0px 31px 0px;
}

.business-list__title::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 28px;
	margin: 0px 19px 0px 0px;
	vertical-align: middle;
	background: url("../img/consulting/mark.svg");
}
.business-list__title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 12px;
}
.business-list__text {
	line-height: 1.46;
	padding: 0px 0px 0px 46px;
}
.business-list__text p:not(:last-child) {
	margin-bottom: 10px;
}
.business-list__link {
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	padding: 21px 35px 22px;
	background-color: #6b77e5;
	margin-bottom: 30px;
	transition: all .3s;
}
.business-list__link:hover {
	color: #37393f;
	background-color: #40ddb6;
}
.business-plan__container > *:last-child {
	margin: 0px 0px 0px 0px;
}

/* ================================================================ */

.how-work {
	padding: 75px 0;
	color: #7d7d7d;
}
.how-work__container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}
.how-work__subtitle {
	text-align: center;
}
.how-work__title {
	margin: 0px 0px 77px 0px;
	text-align: center;
}

.how-work__row {
	font-size: 0;
}
.how-work__column:not(:last-child) {
	margin: 0px 31px 0px 0px;
}
.work-item {
	display: inline-block;
	text-align: center;
	width: 386px;
	padding: 58px 43px;
	background-color: #f4f4f4;
	transition: all .3s;
}
.work-item:hover{
	background-color: #d9d9d9;

}
.work-item:first-child::before {
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	margin: -100px 0px 22px 114px;
	background: url("../img/consulting/Icon-01.svg");
	transition: all .3s;
}
.work-item:first-child:hover::before {
	background: url("../img/consulting/Icon-01-hover.svg");
}

.work-item:nth-child(2)::before {
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	margin: -100px 0px 22px 114px;
	background: url("../img/consulting/Icon-02.svg");
	transition: all .3s;
}
.work-item:nth-child(2):hover::before {
	background: url("../img/consulting/Icon-02-hover.svg");
}

.work-item:last-child::before {
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	margin: -100px 0px 22px 114px;
	background: url("../img/consulting/Icon-03.svg");
	transition: all .3s;
}
.work-item:last-child:hover::before {
	background: url("../img/consulting/Icon-03-hover.svg");
}

.work-item__title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}
.work-item__text {
	margin-bottom: 37px;
}
.work-item__text p {
	font-size: 18px;
	line-height: 1.46;
}
.work-item__link {
	color: #6b77e5;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	border-bottom: 1px solid transparent;
	transition: all .3s;
}
.work-item__link:hover {
	border-bottom: 1px solid #6b77e5;
}

/* ================================================================ */

.jewellery {
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
	padding: 75px 0 100px;
	color: #000;
	background: url('../img/jewellery/Vector-01.png') 0 0 no-repeat, url('../img/jewellery/Vector-02.png') right 215px no-repeat;
}
.jewellery__container {
	max-width: 1234px;
	margin: 0 auto;
	padding: 0 10px;
}
.jewellery__block {
	font-size: 0;
}
.jewellery__column {
	display: inline-block;
	vertical-align: top;
}
.jewellery__column > *{
	margin-bottom: 34px;
}
.jewellery__column:nth-child(2){
	max-width: 334px;
	margin-right: 55px;
}
.jewellery__column:nth-child(3){
	max-width: 339px;
}
.jewellery__title {
	font-size: 60px;
	line-height: 1.15;
	max-width: 478px;
	padding: 150px 10px 100px 0px;
}
.jewellery__title::after{
	content: '';
	display: block;
	height: 3px;
	width: 62%;
	background-color: #78473B;
	margin: 13px 0px 0px 0px;
}
.jewellery__image{
	transition: all .3s;
}
.jewellery__image::before{
	content: '';
	display: inline-block;
	border: 1px solid #000;
	width: 334px;
	height: 381px;
}
.jewellery__column>.jewellery__image img{
	margin: -371px 0px 0px 10px;
}
.jewellery__column:hover>.jewellery__image{
	transform: scale(0.95);
}

.jewellery__text a{
	display: block;
	font-size: 24px;
	line-height: 1.4;
	margin: 0px 0px 5px 0px;
}

.jewellery__text>*:last-child{
	margin: 0px 0px 0px 0px;
}
.jewellery__column:hover .jewellery__text>a{
	text-decoration: underline;
}

.jewellery__subtitle {
	font-size: 46px;
	line-height: 1.13;
	margin: 0px 0px 31px 0px;
}
.jewellery__subtitle span{
	display: block;
}
.jewellery__column > *:last-child{
	margin-bottom: 0;
}


/* FOOTER================================================================ */

.footer {
	padding: 50px 0;
	text-align: center;
	background:
	radial-gradient(circle, rgba(205,237,246,0.9) 0%, rgba(94,177,191,0.9) 80%, rgba(4,42,43,0.7707457983193278) 100%),
		url("../img/pattern.jpg") 0 0 / 400px;
	box-shadow: 0px -2px 10px #383636;
	color: #042a2b;
	font-size: 20px;
	font-weight: 700;
}

