@font-face {
	font-family: "Reservation Wide";
	src:
		url("../fonts/ReservationWide-Regular.woff2") format("woff2"),
		url("../fonts/ReservationWide-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Reservation Wide";
	src:
		url("../fonts/ReservationWide-Bold.woff2") format("woff2"),
		url("../fonts/ReservationWide-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ysabeau Office";
	src:
		url("../fonts/YsabeauOffice-Regular.woff2") format("woff2"),
		url("../fonts/YsabeauOffice-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau Office";
	src:
		url("../fonts/YsabeauOffice-Italic.woff2") format("woff2"),
		url("../fonts/YsabeauOffice-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau Office";
	src:
		url("../fonts/YsabeauOffice-SemiBold.woff2") format("woff2"),
		url("../fonts/YsabeauOffice-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ysabeau Office";
	src:
		url("../fonts/YsabeauOffice-Bold.woff2") format("woff2"),
		url("../fonts/YsabeauOffice-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

