@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Italic.woff2') format('woff2'),
		 url('../fonts/Inter-Italic.woff') format('woff');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}